* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  align-items: center;
  text-decoration: none;
  color: inherit;
  background: none;
  font-family: "Inter", sans-serif;
}

.hero-section {
  padding-top: 8px;
  margin-top: 0px;
  background: url(images/background.png) no-repeat center center;
  background-size: cover;
}

.header {
  display: flex;
  justify-content: center;
  background-color: rgba(110, 71, 59, 0.25);
  gap: 77px;
  margin: 4px 12px;
  border-radius: 8px;
  padding-top: 15px;
  padding-bottom: 15px;
  backdrop-filter: blur(10px);
}

.nav-left {
  display: flex;
  gap: 54px;
  background-color: rgba(0, 0, 0, 0);
}

.nav-right {
  display: flex;
  gap: 54px;
  background-color: rgba(0, 0, 0, 0);
}

.nav-link {
  font-weight: 400;
  color: #E1D4C2;
  font-size: 16px;  
}

.hero {
  margin-top: 139px;
  padding: 0 390px;
}

/* .hero-text {
  
} */

.title {
  font-weight: 600;
  font-size: 52px;
  color: #E1D4C2;
}

.description {
  margin-top: 12px;
  font-weight: 400;
  font-size: 20px;
  color: #E1D4C2;
}

.cta {
  background-color: #E1D4C2;
  color: #291C0E;
  padding: 20px 40px;
  font-weight: 400;
  font-size: 20px;
  border-radius: 8px;
  border: none;
  margin-top: 32px;
  margin-bottom: 58px;
  cursor: pointer;
}

.about {
  display: grid;
  padding: 0 160px;
  margin-top: 89px;
  gap: 20px;
}

.card {
  background-color: rgba(134, 113, 84, 0.25);
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 38px;
  padding-right: 38px;
  border-radius: 8px;
  width: 550px;
  height: 533px;
}

.photo {
  width: 550px;
  height: 533px;
}

.card-title {
  font-weight: 500;
  font-size: 44px;
  color: #291C0E;
}

.card-desription {
  font-weight: 400;
  font-size: 20px;
  padding-top: 8px;
  color: #291C0E;
}

.arrows {
  padding-top: 267px;
}

.row {
  display: flex;
  gap: 20px;
  align-items: center;
  justify-content: center;
}

.points {
  display: grid;
}

.points-row {
  display: flex;
  margin-top: 72px;
  justify-content: space-between;
}

.point-title {
  font-weight: 500;
  font-size: 20px;
}

.point-description {
  font-weight: 400;
  font-size: 12px;
}

.action {
  margin-top: 20px;
  margin-inline: 390px;
  background-color: rgba(134, 113, 84, 0.25);
  display: flex;
  justify-content: space-between;
  border-radius: 8px;
}

.action-text {
  padding-left: 38px;
  padding-bottom: 24px;
  display: grid;
  gap: 8px;
}

.action-title {
  font-weight: 500;
  font-size: 44px;
  color: #291C0E;
}

.action-description {
  font-weight: 400;
  font-size: 20px;
  color: #291C0E;
}

.action-btn {
  padding-left: 38px;
}

.action-cta {
  padding: 16px 32px;
  border-radius: 8px;
  border: none;
  background-color: #6E473B;
  color: #E1D4C2;
  font-weight: 400;
  font-size: 16px;
  cursor: pointer;
}

.menu {
  width: 100%;
  padding-inline: 390px;
  display: grid;
  justify-content: center;
  margin-top: 80px;
}

.menu-title {
  font-weight: 500;
  font-size: 44px;
  color: #291C0E;
  margin-left: 188px;
}

.menu-btns {
  margin-top: 24px;
  display: flex;
  gap: 12px;
  justify-content: center;  
  align-items: center;
}

.menu-btn1 {
  background-color: #6E473B;
  color: #E1D4C2;
  padding: 12px 32px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}

.menu-btn2 {
  background-color: rgba(110, 71, 59, 0.25);
  color: rgba(41, 28, 14, 0.8);
  padding: 12px 32px;
  font-weight: 400;
  font-size: 16px;
  border-radius: 6px;
  cursor: pointer;
}


/* Заголовок */
.coffee-title {
    text-align: center;
    font-size: 32px;
    font-weight: 600;
    margin: 50px 0 40px;
    color: #3d2f21;
}

/* Контейнер двух карточек */
.coffee-grid {
    display: flex;
    justify-content: center;
    gap: 120px;
}

/* Карточка кофе */
.coffee-card {
    text-align: center;
    width: 240px;
}

/* Фото кофе */
.coffee-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border-radius: 50%;
}

/* Название */
.coffee-name {
    font-size: 22px;
    color: #3d2f21;
    margin: 15px 0 5px;
}

/* Описание */
.coffee-desc {
    font-size: 14px;
    color: #5b4b3c;
    line-height: 1.4;
    margin-bottom: 15px;
}

/* Размеры */
.sizes {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin: 15px 0;
}

.sizes span {
    background: #c4a996;
    padding: 6px 14px;
    border-radius: 6px;
    font-size: 14px;
    color: #3d2f21;
    cursor: pointer;
    transition: 0.2s;
}

.sizes span.active {
    background: #8c6d57;
    color: #fff;
}

.sizes span:hover {
    opacity: 0.85;
}

/* Цена */
.price {
    font-size: 20px;
    font-weight: 600;
    color: #3d2f21;
    margin-top: 10px;
}

.feedback {
  margin-top: 80px;
  margin-inline: 390px;
  display: grid;
  gap: 32px;
}

.feedback-text {
  display: grid;
  gap: 8px;
}

.feedback-title {
  font-weight: 500;
  font-size: 44px;
  color: #291C0E;
}

.feedback-description {
  font-weight: 400;
  font-size: 20px;
  color: #291C0E;
}

.people {
  display: flex;
  justify-content: space-between;
}

.people-card {
  padding: 40px 50px;
  display: grid;
  gap: 20px;
  background-color: rgba(204, 185, 159, 0.5);
  border-radius: 8px;
}

.people-top {
  display: flex;
  gap: 16px;
}

.top-right {
  gap: 4px;
}

.name {
  font-weight: 400;
  font-size: 24px;
  color: #291C0E;
}

.stars {
  display: flex;
}

.people-text {
  font-weight: 400;
  font-size: 16px;
  color: #291C0E;
}

.gis {
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  max-width: 285px;
  background-color: rgba(204, 185, 159, 0.5);
  border-radius: 8px;
  margin-inline: 390px;
  margin-top: 20px;
}

.gis-right {
  display: grid;
  justify-content: center;
  text-align: center;
}

.howmuch {
  font-weight: 300;
  font-size: 12px;
  color: rgba(67, 66, 66, 0.7);
}

.rating {
  font-weight: 500;
  font-size: 32px;
  color: #434242;
}

.gallery {
  margin-inline: 390px;
  margin-top: 80px;
}

.gallery-top {
  display: flex;
  justify-content: space-between;
  align-items: end;
}

.gallery-photos {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  margin-top: 32px;
}

.small-photos {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
}

.footer {
  margin-top: 80px;
  background-color: rgba(134, 113, 84, 0.3);
  padding-inline: 390px;
  padding-block: 40px;
}

.footer-text {
  display: grid;
  justify-content: center;
  text-align: center;
  gap: 12px;
}

.footer-title {
  font-weight: 400;
  font-size: 44px;
  color: #291C0E;
}

.footer-description {
  font-weight: 300;
  font-size: 16px;
  color: #291C0E;
}

.footer-row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.adress {
  display: flex;
  gap: 12px;
}

.adres {
  font-weight: 400;
  font-size: 20px;
}

.footer-rows {
  display: grid;
  gap: 20px;
  margin-top: 58px;
}

.footer-logo {
margin-left: 480px;
}